/*colors*/
/*general classes*/
::placeholder {
  color: #333;
  opacity: 1; }

/*map styles*/
.map_container #map {
  position: absolute !important;
  width: 100%;
  height: 100%; }

.navbar_wrapper {
  position: absolute;
  z-index: 999;
  width: 100%; }
  .navbar_wrapper a {
    color: #333; }
  .navbar_wrapper .brand-logo {
    text-indent: -999em;
    overflow: hidden;
    background: url("../Resources/Images/th-logo.png") no-repeat 5px 5px;
    background-size: 50px 57px;
    width: 64px;
    height: 64px; }
  .navbar_wrapper .search_bar_wrapper {
    margin-right: 0; }
    .navbar_wrapper .search_bar_wrapper .input-field {
      float: left;
      margin-left: 0;
      padding: 0;
      position: relative;
      right: -25px; }
      .navbar_wrapper .search_bar_wrapper .input-field .search_bar {
        margin: 0; }
      .navbar_wrapper .search_bar_wrapper .input-field .prefix {
        position: absolute;
        right: 0px; }
        .navbar_wrapper .search_bar_wrapper .input-field .prefix.active {
          color: #333; }

.sidenav .slide-nav-introduction {
  padding: 0 15px; }

.sidenav .side-nav a#close-btn {
  padding: 5px 14px 0 14px; }

.sidenav .side-nav .dropdown-content li > a, .sidenav .side-nav .dropdown-content li > span {
  color: #333; }

.nav-wrapper .hide-on-med-and-down {
  display: block !important; }

.nav-wrapper #nav-mobile {
  display: none; }

.nav-wrapper .button-collapse {
  display: none; }

@media only screen and (max-width: 992px) {
  .brand-logo {
    left: 15px !important;
    transform: none !important; } }
